#slideContainer {
    width:900px;
    height:675px;
    margin:0 auto;
    position:relative;
}

#slideWrapper {
    overflow:hidden;
    position:relative;
    
}

#slidingImage {
    position:absolute;
}

#infoText {
    display:none;
    position:absolute;
    background:rgba(0,0,0,0.5);
    color:white;
    width:100%;
    height:10%;
    font-size:1.5em;
    font-family:sans-serif;
    bottom:0;
    cursor: auto;
}

#infoText p {
    margin:0.25em 0.5em 0em 0.5em;
}

#infoText a#linkReferer{
    cursor:pointer;
    margin:0 0.95em;
    font-size:0.6em;
    font-weight:lighter;
    color:#BABABA;
    text-decoration:none;
}

#infoText a#linkReferer:hover{
    text-decoration:underline;
}

#navigation {
    border:0px solid black;
/*    width:60px;*/
    margin:0 auto;
    margin-top:1em;
}

.bubble {
    width:16px;
    height:16px;
    border:2px solid #BABABA;
    border-radius:16px;
    box-shadow:0px 0px 1px rgba(0,0,0,0.5);
    background:#F5F5F5;
    display:inline;
    float:left;
    margin:0 5px;
    cursor:pointer;  
}

.modernBubble {
    width:8px;
    height:8px;
    border:8px;
    background:white;
    margin:3px 7px 4px 7px;
    border-radius:16px;
    box-shadow:0px 0px 1px rgba(0,0,0,0.5);
    background:white;
    display:inline;
    float:left;
    cursor:pointer; 
}

.modernBubble.active {
    width:12px;
    height:12px;
    border:1px solid white;
    background:transparent;
    margin:0 7px;
    
}

.slice {
    width:16px;
    height:1em;
    border:0;
    box-shadow:0px 0px 1px rgba(0,0,0,0.5);
    background:#F5F5F5;
    display:inline;
    float:left;
    margin:0;
    padding:0;
    cursor:pointer;
}

.button {
    position:absolute;
    width:50px;
    height:80px;
    background:rgba(0,0,0,0.5);
    cursor: pointer;
    display:none;
}

.leftArrow {
    margin:20px 0 0 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 34.6px 20px 0;
    border-color: transparent rgba(256,256,256,0.85) transparent transparent;
    line-height: 0px;
    _border-color: #000000 #ffffff #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.leftButton:hover .leftArrow {
    border-color: transparent rgba(256,256,256,1) transparent transparent;

}

.rightArrow {
    margin:20px 0 0 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 34.6px;
    border-color: transparent transparent transparent rgba(256,256,256,0.85);
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}


.rightButton:hover .rightArrow {
    border-color: transparent transparent transparent rgba(256,256,256,1);

}

.active {
    background:#9597A2;
}