body {
    margin:0;
    padding:0;
}

#page{
    margin:0;
    padding:0;
    height:100%;
}

#page:nth-child(even){
    background:#F5F5F5;
}

#text {
    font-family: sans-serif;
    font-weight:lighter;
    font-size:1.2em;
    color:black;
    width:50%;
    margin:0 auto;
    padding:3em 0 0 0;
}

.info {
    text-align: center;
}

.icon {
    width:64px;
    height:64px;
    margin:2.5em 0.5em;
}

a,span {
    color:#77A3BA;
    
}

a:hover {
    color:#FFCC00;
}

h1 {
    font-family:sans-serif;
    font-weight: 100;
    font-size:2em;
    margin:0;
    padding:1em 0;
    text-align: center;
    
}

#slideContainer {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

h2 {
    font-family:sans-serif;
    font-weight: 100;
    font-size:1.5em;
    margin:0;
    padding:2.5em 0 1em 0;
    text-align: center;
    
}